<webobject name = "ServeurPlanningDefaultPage1">
  <webobject name = "Form1">
    <table cellpadding = "0" cellspacing = "0" border = "0">
      <tr>
        <td>
          <webobject name = "BrowserApplication"></webobject>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td valign = "TOP">
        	<b>Nom de l'application:</b>&nbsp;<webobject name = "StrNomAppli"></webobject><br/>
          <b>URL de l'application:</b>&nbsp;<webobject name = "LnkUrlAppli"><webobject name = "StrUrlAppli"></webobject></webobject>
            <hr>
              <webobject name = "CondDgMethServeurHasObjects">
                <table cellpadding = "0" cellspacing = "0" border = "0">
                  <tr>
                    <td>
                      <webobject name = "BrowserMethServeur"></webobject>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td valign = "TOP">
                      <b>nom:</b>&nbsp; <webobject name = "String5"></webobject><br />
                      <b>description:</b>&nbsp;<webobject name = "String6"></webobject><br />
                      <b>passage:</b>&nbsp; <webobject name = "String1"></webobject> &nbsp;<i>(reception parametres : 1=par url, 2=par Content)</i><br />
                      <b>varRetour:</b>&nbsp;<webobject name = "String4"></webobject>
                    </td>
                  </tr>
                </table>
                <webobject name = "CondHasMethServeur">
                  <hr/>
                	Utilis&eacute;e par:&nbsp;
                    <ul>
                      <webobject name = "RepRepartition">
                        <li>
                          <webobject name = "StrMethClient"></webobject>
                        </li>
                      </webobject>
                    </ul>
                </webobject>
              </webobject>
              <webobject name = "CondNotHasMethServeur">
              	Pas de m&eacute;thodes serveurs d&eacute;clar&eacute;es pour cette application.
              </webobject>
        </td>
      </tr>
    </table>
  </webobject>
</webobject>