<webobject name = "defaultPage">
  <div align = "center">
    <table border = "0">
      <tr>
        <td align = "right" valign = "middle"><webobject name = "imgLogo"></webobject></td>
        <td align = "left" valign = "middle" class = "mainTitle">
          &nbsp;Administration des services Cocktail<br />&nbsp;Serveur de Planning
        </td>
      </tr>
    </table>
    <webobject name = "imgLigneJaune"></webobject>
    <br />
    <br />
    <table border = "0">
      <tr valign = "middle">
        <td><webobject name = "imgClefs"></webobject></td>
        <td class = "title">&nbsp;Le mot de passe est n&eacute;cessaire pour acc&eacute;der &agrave; l'application</td>
      </tr>
    </table>
    <table width = "70%" border = "0">
      <tr>
        <td align = "center">
          <hr class = "line"/>
          <webobject name = "adminLogin"/>
          <hr class = "line"/>
        </td>
      </tr>
    </table>
    <br>
  	<i>Pour toute question de connexion &agrave; cette application,<br>
    <webobject name = "mailAdmin"></webobject></i>
  	<p>&nbsp;</p>
  	<p class = "textNote"><webobject name = "strCopyright"></webobject></p>
  </div>
</webobject>